<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSCB20 Course Website</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    {% extends "templatehome.html" %}
    {% block content %}
  <section class="main">
    <h2> Assignment 1 </h2>
    <h1 class = "tcenter"><b> SmartCity Initiative</b> </h1>
    <h3><b>Due Date: February 11</b></h3>
    <h3><b>Points: 95</b></h3>
    <h3><b>Context</b></h3>
    <p>In this assignment, you are a Data Analyst Intern for the SmartCity Initiative Team. The team <br>
        is working on projects for Urban Connect 2.0, a next-generation smart city infrastructure system. <br>
        Your supervisor has outlined some schemas and queries that need to be completed using relational algebra (RA) and SQL.</p>
    <h3>Instructions & Important Notes</h3>
    <p><b>Group Work</b></p>
    <ul>
        <li><p><b>xGroup Size:</b>You must work in a group of <b>two or three.</b></p></li>
        <li><p><b>Group Declaration:</b> Ensure all group members are declared in MarkUs before submission.
        </p></li>
    </ul>
    <h3>Relational Algebra: </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        <br>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        <br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        <br> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    </p>
  </section>
  {% endblock %}
</body>