<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSCB20 Course Website</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    {% extends "templatehome.html" %}
    {% block content %}
    <section class="main">
        <div class="syllabus">
        <h1 class = "tcenter"><b>Course Team</b> </h1>
        <h2><b>Contact Information</b></h2>
        <h5>Purva is the course coordinator, which means that she deals with all <br>
        administrative matters: missed work, problems with your grades, and TA issues.
        <br> email: purva.gawde@utoronto.ca
        </h5>
        <h4>Office Hours:</h4>
        <h5>Location: IA 4056
        <br>Time: Monday 11:00 to 12:00
        </h5>
        <h4>TAs: </h4>
        <h5>Kevin Zhang
        <br>Orhan Cangurel
        <br>Naghmeh Safie
        <br>Vincent Zhang 
        </h5>

        <h4>Team!</h4>
        <h5>
        Amy Xu 
        <br> Sofia Burhan 
        <br> David Wu
        </h5>
        </div>
    </section>
    {% endblock %}
</body>

</html>
