<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSCB20 Course Website</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    {% extends "templatehome.html" %}
    {% block content %}
    <main id="labs-grid">
        <div class="labs">
            <h1>Week 2 Lab</h1>
            <div class="buttons-flex">
                <a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t1/" class="button">Python Command Line</a>
            </div>
                
        </div>
    
        <div class="labs">
            <h1>Week 3 Lab</h1>
            <div class="buttons-flex">
                <a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t2/relational.pdf" class="button">PDF HandOut</a>            
            </div> 
        </div>
    
        <div class="labs">
            <h1>Week 4 Lab</h1>
            <div class ="buttons-flex">
                <a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t3/university.sql" class="button">PDF HandOut</a>

                <a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t3/query_solns.html" class="button">Solution</a>
            </div>
            
        </div>
    
        <div class="labs">
            <h1>Week 5 Lab</h1>
            <div class="buttons-flex">
                <a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t4/handout.pdf" class="button">PDF HandOut</a>
                <a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t4/tut4_soln.pdf" class="button">Solution</a>
            </div>            
        </div>
        <div class="labs">
            <h1>Week 6 Lab</h1>
            <div class="buttons-flex">
                <a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t5/handout.pdf" class="button">PDF HandOut</a>
                <a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t5/t5_soln.pdf" class="button">Solution</a>
            </div>
            
        </div>
        <div class="labs">
            <h1>Week 7 Lab</h1>
            <div class="buttons-flex">
                <a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t7/handout.pdf" class="button">PDF HandOut</a>
            </div>
        </div>
        <div class="labs">
            <h1>Week 8 Lab</h1>
            <div class="buttons-flex">
                <a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t8/" class="button">PDF HandOut</a>
            </div>
        </div>
        <div class="labs">
            <h1>Week 9 Lab</h1>
            <div class="buttons-flex">
                <a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t9/" class="button">PDF HandOut</a>
            </div>
           
        </div>
        <div class="labs">
            <h1>Week 10 Lab</h1>
            <div class="buttons-flex">
                <a href="https://www.w3schools.com/jquery/jquery_syntax.asp" class="button">Work through the tutorial for jQuery up until jQuery Remove.</a>
            </div>
            
        </div>

    </main>
    {% endblock %}
</body>
</html>
