<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSCB20 Course Website</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    {% extends "templatehome.html" %}
    {% block content %}
    <section class="main">
        <h2>Lecture Schedule</h2>
        <p>Please print and bring these notes/worksheets to class.
        </p>
    </section>
    <div id="labs-grid">
        <div class="labs">
            <h1>Week 1</h1>
            <h2>Topic:Introduction, Databases background</h2>  
          <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1.pdf" class="button" download> Power Point Power Point Handout</a>
        </div>
        <div class="labs">
        <h1>Week 3</h1>
        <h2>Topic:Schema Diagrams, Relational Algebra	
        </h2>
        <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/worksheets/schema_relational_algebra_soln.pdf" class="button">Power Point Worksheet Worksheet Solutions </a>
    
        </div>
        <div class="labs">
            <h1>Week 4</h1>
            <h2>Topic:SQL and MySQL
            </h2>
            <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w3_ppt_printable.pdf" class="button">Power Point PDF Power Point Printable PDF MySQL Worksheet</a>
    
        </div>
    <div class="labs">
        <h1>Week 5</h1>
        <h2>Topic:MySQL Queries, Creating and Editing Tables
        </h2>
        <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w4_printable.pdf" class="button">Power Point Printable Power Point More MySQL Worksheet </a>
    
    </div>
        <div class="labs">
            <h1>Week 6</h1>
            <h2>Topic:MySQL Outer Joins, Views, NULL, string functions, HTML	
            </h2> 
            <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/worksheets/mysql_views.pdf"class="button">Power Point HTML Power Point MySQL Views Worksheet </a>
        </div>
        
          <div class="labs">
            <h1>Week 7</h1>
            <h2>Topic:HTML, CSS
            </h2>
            <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w7.pdf"class="button">CSS Power Point	 </a>
        </div>
        
          <div class="labs">
            <h1>Week 8</h1>
            <h2>Topic:PHP
            </h2>
            <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w8_php.pdf"class="button">Power Point </a>
        </div>
        
          <div class="labs">
            <h1>Week 9</h1>
            <h2>Topic:PHP and SQL	
            </h2> 
            <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w9_php_query.pdf"class="button">Power Point </a>
        </div>
        
          <div class="labs">
            <h1>Week 10</h1>
            <h2>Topic:JavaScript and jQuery
            </h2> 
            <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/jquery.pdf"class="button">jQuery Power Point </a>
        </div>
        
                    <div class="labs">
                        <h1>Week 11</h1>
                        <h2>Topic:jQuery, AJAX, JSON	
                        </h2> 
                        <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/forms_printable.pdf"class= "button">Power Point printable Power Point </a>
                    </div>
                    
                      <div class="labs">
                        <h1>Week 12</h1>
                        <h2>Topic:Last Year's final
                  </h2>
                  <a href="https://www.utsc.utoronto.ca/~bretscher/b20/tests/final_f16.pdf"class="button">	W16 Final  </a>
                </div>
            </main>
    </div>
    {% endblock %}
</body>
    
</html>
    
            
